.dashboard-curio {
    background: #c6c6c6;
    border: 4px solid #000;
    padding: 15px;
    display: inline-block;
    image-rendering: pixelated;
}

.xp-bar-container {
    width: 250px;
    height: 18px;
    background-color: #313131;
    border: 3px solid #000;
    margin-top: 10px;
    position: relative;
}

.xp-bar-fill {
    height: 100%;
    background-color: #3fff3f; /* Vert Minecraft */
    width: 0%;
    transition: width 0.4s ease-out;
}

.xp-text {
    font-family: 'monospace'; /* Ou ta police Pixel Art */
    color: #000;
    font-size: 14px;
    margin-bottom: 5px;
}

.level-up-overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex; justify-content: center; align-items: center;
    z-index: 9999;
}

.level-up-box {
    background: #c6c6c6;
    border: 6px solid #000;
    padding: 30px;
    text-align: center;
    image-rendering: pixelated;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.5);
}

.pixel-text {
    font-family: 'Press Start 2P', cursive;
    color: #3fff3f; /* Vert Minecraft */
    text-shadow: 3px 3px #000;
    margin-bottom: 20px;
}

.level-btn {
    font-family: 'Press Start 2P', cursive;
    background: #3fff3f;
    border: 4px solid #000;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}