name: Deploy Static Content
on:
  push:
    branches: ["production"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Force à récupérer tout l'historique et tous les fichiers

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs/' # On confirme bien le dossier docs/ que tu as créé
