name: Deploy Static Content
on:
  push:
    branches: ["production"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Vérifier les dossiers
        run: ls -R # Cette ligne va nous dire si 'docs' est bien là

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs/'
          # Cette option évite que le build plante si un fichier est mal nommé
          if-no-files-found: error
